* {
    font-family: 'Raleway', sans-serif;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    /* IE6-9 */
    background: cover;
}

.download {
    display: none;
    color: #fd6512;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

.download:hover {
    text-decoration: underline;
}

.down {
    padding-top: 10px;
    text-align: center;
    font-family: 'Raleway Light', sans-serif;
}

.down i {
    color: #fd6512;
    display: none;
}

.wrapper {
    width: 100%;
    background-image: url('../img/headset.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 5%;
    background-size: 20%;
    background-image: cover;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.wrapper img {
    width: 50px;
}

.wrapper p {
    font-size: 10px;
    text-align: center;
}

.wrapper input {
    border: 1px solid #aaa;
    ;
    padding: 8px 25px 8px 25px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    color: #aaa;
    text-shadow: 0 0 1px rgba(253, 101, 18, 0.4);
    overflow: hidden;
}

.wrapper input[type=text],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.wrapper input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 10px rgba(253, 101, 18, 1);
    padding: 4px 25px 4px 25px;
    border-radius: 0px;
    font-size: 20px;
    color: #fd6512;
    border: 1px solid rgba(253, 101, 18, 0.4);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    color: #222;
    text-align: center;
}

.wrapper h2 span {
    color: #fd6512;
    font-size: 18px;
}

.btn {
    width: 200px;
    border: none;
    margin: 0 auto;
    padding-top: 50px;
}

.btnDownload {
    width: 170px;
    margin: 0 auto;
    border: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    background-color: #fd6512;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.btnDownload:hover {
    background-color: #999;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.copy h6 {
    padding-top: 10%;
    color: #333;
    text-align: center;
}